/* font-family: 'Libre Baskerville', serif;
font-family: 'Raleway', sans-serif; */

.my-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.nav-item{
    font-family: 'Raleway', sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.search-bar{
    width: 100%;
    height: auto;
    background-color: #dddddd86;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 0.3125rem;
}

.search-area{
    border: none;
    background-color: #dddddd00;
    padding-left: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#searchButton{
    padding-left: 0.5rem;
}

.search-area:focus{
    border:none;
    outline: none;
}

.wrap-div{
    position: relative;
}

.my-box{
    width: 100%;
    height: 100%;
    background-color: #7a838c81;
    filter: blur(4px);
    filter: brightness(-10%);
    filter: opacity(80%);
    position: absolute;
    top: 0;
}

.main-caption{
    position: absolute;
    top: 15%;
    left: 15%;
}

.heading-caption{
    font-family: 'Libre Baskerville', serif;
    font-size: 4.5rem;
    color: #3B472E;
}

.subheading-caption, div.main-caption h2{
    font-family: 'Raleway', sans-serif;
    color: #3B472E;
    font-size: 2.5rem;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.body-subheading{
    font-family: 'Libre Baskerville', serif;
    color: #3B472E;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.125rem;
}

.my-card-body{
    text-align: center;
}

.card-title{
    margin-top: 12px;
    margin-bottom: 0px;
    font-family: 'Libre Baskerville', serif;
    color: #3B472E;
    font-size: 1rem;
    font-weight: 700;
    font-style: italic;
}

.card-text{
    margin-top: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

.right{
    width: 66.66%;
    height: 100%;
    /* background-color: red; */
}
.left{
    width: 33.34%;
    height: 100%;
    background-color: royalblue;
}
.first img{
    width: 100%;
    max-height: 333px;
    background-color: seagreen;
}
.second{
    width: 43%;
    background-color: rgb(55, 99, 55);
}

.second img{
    max-width: 318.2px;
    max-height: 333px;
}

.third{
    width: 57%;
    background-color: peru;
}

.third img{
    max-width: 422px;
    max-height: 333px;
    z-index: -1;
}

.fourth{
    width: 40%;
}

.fourth img{
    max-width: 296px;
    max-height: 333px;
}

.fifth{
    width: 60%;

}

.fifth img{
    max-width: 444px;
    max-height: 333px;
}

.sixth{
    width: 100%;
    height: 100px;
    background-color: slategrey;
}

.seventh{
    width: 100%;
    height: 50px;
    background-color: rgb(48, 51, 47);
}

.eighth{
    width: 100%;
    height: 100px;
    background-color: rgb(78, 17, 48);
}

.nineth{
    width: 100%;
    height: 50px;
    background-color: rgb(197, 148, 12);
}


.grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    min-height: 800px;
}

.grid-1{
    grid-row: 1; grid-column: 1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: auto;
}

.grid-2{
    grid-row: 1; grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 0.5fr 1fr 0.5fr;
    grid-template-columns: auto;
}

.image-6{
    grid-row: 1;
    background-color: burlywood;
    background-image: url("images/my-2.jpg");
    background-position: center;
    background-size: cover;
}

.image-7{
    grid-row: 2;
    background-color: blue;
    background-image: url("images/my-5.jpg");
    background-position: center;
    background-size: cover;
}

.image-8{
    grid-row: 3;
    background-color: blanchedalmond;
    background-image: url("images/my-6.jpg");
    background-position: center;
    background-size: cover;
}

.image-9{
    grid-row: 4;
    background-color: bisque;
    background-image: url("images/my-9.jpg");
    background-position: center;
    background-size: cover;
}

.grid-1-1{
    grid-row: 1;
    background-color: darkkhaki;
    background-image: url("images/my-1.jpg");
    max-height: 100%;
    max-width: 100%;
    background-position: center;
    background-size: cover;
}

.grid-1-2{
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-row: auto;
}

.grid-1-3{
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    grid-row: auto;
}

.image-2{
    grid-column: 1;
    background-color: chocolate;
    background-image: url("images/my-3.jpg");
    background-position: center;
    background-size: cover;
}

.image-3{
    grid-column: 2;
    background-color: cornsilk;
    background-image: url("images/my-4.jpg");
    background-position: center;
    background-size: cover;
}

.image-4{
    grid-column: 1;
    background-color: cyan;
    background-image: url("images/my-7.jpg");
    background-position: center;
    background-size: cover;
}

.image-5{
    grid-column: 2;
    background-color: darkgray;
    background-image: url("images/my-8.jpg");
    background-position: center;
    background-size: cover;
}

